@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed";
}

/* clear default table, th, td styles */

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  font-weight: normal;
}

td {
  font-weight: normal;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr; /* 第一行自动大小，第二行填充剩余空间 */
  height: 92vh;
}

@layer utilities {
  /* LINE */
  .line-dashed {
    @apply border-t-[0.8px] w-full border-dashed border-gray-300;
    border-image: repeating-linear-gradient(
        to right,
        transparent,
        transparent 2px,
        #ccc 2px,
        #ccc 4px
      )
      1;
  }

  /* BUTTON */
  .btn-black {
    @apply bg-gray-800 w-[150px] px-4 py-4 text-white uppercase transition-all hover:bg-black flex flex-row justify-center items-center gap-1 rounded;
  }

  /* TABLE */
  .row-title-box {
    @apply bg-blue-600 w-[150px] h-[64px] rounded px-2 py-1 flex flex-col items-center justify-center gap-1 text-white text-base m-1 select-none;
  }

  .col-title-box {
    @apply w-[150px] rounded py-2 text-white text-base m-1 flex flex-col items-center justify-center select-none;
  }

  .total-box {
    @apply bg-gray-100 w-[100px] h-[64px] rounded text-gray-800 text-base m-1 flex flex-col items-center justify-center select-none;
  }

  .cell-box {
    @apply bg-white w-[150px] h-[64px] rounded text-gray-800 text-base m-1 flex flex-col items-center justify-center cursor-pointer select-none transition hover:scale-105 duration-100 hover:shadow-md border relative hover:bg-gray-800 hover:text-white hover:border-none;
  }

  .token-box {
    @apply px-4 py-2 rounded select-none hover:shadow-md transition hover:scale-105 duration-100 cursor-pointer;
  }

  /* INPUT */
  /* .checkbox:checked {
    @apply text-gray-800 bg-gray-800 border-gray-800;
  } */

  /* CONTAINERS */
  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-6 lg:px-20 3xl:px-0;
  }

  .canvas-center {
    @apply flex flex-col items-center justify-center h-screen w-screen;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  /* FONTS */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
